body {
	background-color: #ffffff !important;
	background-image:;
	background-position:top center;
	background-repeat: repeat;
	background-attachment: fixed;
	text-align:center;

}

a, a:hover, a:focus {
    text-decoration: none;
    color: #f79013!important;
    outline: none;
}
a.read{
	text-decoration:underline;
	color: #f79013 !important;
}
a img{
	border:none;
	
}
hr{
	color:#cdcdcd;
	margin: 0;
}
#outer{
	position: absolute;
	width:100%;
	height:auto;
	top:0px;
	left: 0px;
	margin-top:0px;
	text-align:center;
	min-width: 100%; 
}
#inner{
	position:relative;
	top:  0px; 
	width:100%; 
	margin: 0px auto;
	height:auto;
}
#header{
	height:auto;
    padding: 15px 30px;
}
.logo{
	text-align:left;
	display:block;
}
.navmenu{
	text-align:right;
	font-size:13px;
	font-family:"Lato", sans-serif;
	text-transform:uppercase;
	font-style:bold !important;
}
.navmenu a{
	color:#333333;
	padding:0 5px;
	font-style:bold !important;
}
.navmenu a:hover{
	color:#3084a9;	
}
#body{
	background-image: ;
	background-repeat:repeat-y;
	background-position:center;
	text-align:center;
	width:100%;
	position:relative;
	top:  0px; 
	background-color: transparent;
	margin: 0 auto;
	padding:1px 0 0 0;
	font-size:16px;


}

h1{
	font-family: 'Oswald', sans-serif !important;
	font-size:35px;
	text-align: left;
	padding:0;
	text-transform:uppercase;
	font-style:normal;

}
h2{
	font-family: 'Oswald', sans-serif !important;
	font-size:22px;
	text-align: center;
	color:#333333 !important;
	padding: 0;
	

}
h3{
	font:18px "Lato", Arial,Verdana,Sans-serif;
	text-align: left;
	color:#CC00000;
	padding: 0;

}
h4{
	font:bold 16px "Lato", Arial,Verdana,Sans-serif;
	text-align: center;
	color:#CC00000;
	padding: 0;

}
.block-1{
	background:#3084a9;
	color:#ffffff;
	text-align:left;
	padding: 15px 30px;
}
.block-1 p a, .block-1 h2{
	color:#ffffff;	
}
.block-1 p a:hover{
	color:#ffffff;
	text-decoration:underline;
}
.block-1 h2{
	color:#ffffff!important;
	margin:0;
}
.block-2{
	background:#eee8e8;
	color:#333333;
	text-align:center;
	padding: 15px 30px 5px 30px;
	clear:both;
	margin:0;
}
.block-2 h2, .block-2 h3{
	text-align:left;	
	padding:0 !important;
}
.left{ text-align:left}
.right {text-align:right!important}
.body{
	padding: 20px 30px 0 30px;
	color:#000000;
	text-align:justify!important;
	font:12px/20px "Lato", Arial,Verdana,Sans-serif !important;
	margin:0 0 20px 0;
}
.body h2{
	text-align:left;
}
.body p{
	text-align:left;
	font:16px/20px "Lato", Arial,Verdana,Sans-serif !important;
	color:#000000;
	padding: 0 30px 0 30px;
}
.body ul{
	padding: 0 0px 0 0px;
	margin:  0 30px 0 30px;
}
.body li{
	padding:10px 0 0px 80px;
	margin:0 0 0 0;
	text-align:left;
	font: 16px/20px "Lato", Arial,Verdana,Sans-serif;
	list-style-position: inside;
	list-style-type: none;
	background: url(images/bullet.jpg) no-repeat top left;
	height:52px;
}
ol li{
	font: 16px/20px "Lato", Arial,Verdana,Sans-serif;
	text-align:left;
	margin:0 0 10px 0;
}
.content{
	width:1020px;
	margin:0 auto;
}
.btn{
    width: 100%;
    text-transform: uppercase;
    font-size: 16px !important;
    margin: 15px 0;
    padding: 10px 0 !important;
}
.bullet{
	float:left;	
	padding:0 0 0 30px;
	
}
.number{
	margin: 0 0 20px 63px;
}
#footer{
	text-align: center;
	background:#38424e;
	color:#ffffff;
	font-size:10px;
	margin:0px 0 0 0;
	position: relative
	bottom: 0;
	width: 100%;
	padding:5px 0;
}
#footer p{
	margin:0;
}
.forum{
	background:#f7f7f7; border-bottom:solid 1px #cccccc; overflow:auto; padding:10px 0 0 0;
}
.forum p{
	padding:0 !important;	
}
p.date{
	/*background:#E45D25;*/
	padding:8px!important;
	color:#ffffff;
	text-align:center;
	border-radius:4px;
	
}
/*accordion*/
.SeeMore2.btn{
    width:60px!important;
    text-transform: uppercase;
    font-size: 16px !important;
    margin: 15px 0;
    padding: 10px 0 !important;
	float:right;
}
/*lightbox login*/
.section-lightbox {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 6;
  display: none;
  background-color: rgba(0, 0, 0, .64);
}

.div-login {
  display: inline-block;
  width: 50%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 35px;
  border-radius: 9px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .6);
}

.container-lightbox {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.close-button {
  position: static;
  left: 284px;
  top: 14px;
  right: 0px;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 0px 0 0 2px;
  float: right;
  border: 2px none #9b9b9b;
  border-radius: 75px;
  /*background-color: #e9e9e9;*/
  font-family: Montserrat, sans-serif;
  color: #9b9b9b;
  font-size: 16px;
  line-height: 41px;
  font-weight: 700;
}
a.close-button{color:#9b9b9b!important}
.close-button:hover {
    filter: alpha(opacity=20);
    opacity: .2;

}

.login-form {
  padding-right: 50px;
  padding-left: 50px;
  text-align: left;
}

.forgot-password,.back-login {
  font-family: 'Open Sans', sans-serif;
  color: #9b9b9b;
  text-align: right;
  text-decoration: none;
}

.forgot-password:hover {
  color: #f56b2a;
}

.login-form-inside {
  margin-bottom: 1px;
  padding-bottom: 10px;
}

.facebook-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 334px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 10px 0px 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  background-color: #435f9c;
  color: #fff;
  text-decoration: none;
}

.facebook-login:hover {
  background-color: #334c83;
}

.facebook-login.registration {
  width: 355px;
  margin-top: 0px;
  float: left;
}

.facebook-logo {
  width: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  float: left;
}

.facebook-login-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  line-height: 25px;
}

.no-account-yet {
  font-family: 'Open Sans', sans-serif;
  color: #26bac9;
  font-size: 19px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;

}

.no-account-yet:hover {
  margin-top: 0px;
  color: #f56b2a;
}

.div-facebook-login {
  display: block;
  width: 85%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-bottom: 15px;
  border-bottom: 1px solid silver;
}

.div-facebook-login.registration {

  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  float: left;
  border-bottom-style: none;
}

.container-button-submit {
  display: block;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.container-button-submit.register {
  margin-top: 0;
  margin-bottom: 0;
}

.container-button-submit.my-account {
  width: 100%;
  float: left;
}

.form-registration-column1 {
}

.checkbox-label {
  font-size: 12px;
  font-weight: 400;
}

.link-t-and-c {
  color: #f56b2a;
}

.checkbox-t-and-c {
  margin-top: 20px;
}

.create-and-account-copy {
  margin-top: 10px;
  font-size: 16px;
}
#wf-form-Forgot-Password-Form{
    display: none;
}
.w-form {
  margin: 0 0 15px;
  padding: 10px;
  border: solid 1px silver;
}
.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}
.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}
.text-se-connecter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  float: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 13px;
  text-decoration: none;
  text-transform:uppercase;
  font-weight:bold;
}
.button-se-connecter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-left: 20px;
  padding: 5px 15px 5px 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #f56b2a;
  border-radius: 5px;
  background-color: #ff5513;
  text-decoration: none;
}

.button-se-connecter:hover {
  border-color: #f56b2a;
  background-color: #fff;
}
/*login*/
  .black_overlay {
     background-color: #333;
     left: 0;
     opacity: 0.8;
     position: absolute;
     top: 0;
     visibility: hidden;
     z-index:1001;
}

#_date_from, #_date_to{
	position: absolute;
    margin: 10px 0 0 5px;
}
/*input login*/
.input-wrapper{
	color: #666666;
    border-right: 1px solid #F5F5F5;
    background: #E5E5E5;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
}
.menu-icon{
    width: 22px;
    text-align: center;
    display: inline-block;
    margin-left: 8px;
    margin-right: 0;
    color: #B5B5B5;
    position: absolute;
    top: 10px;
}
.input-wrapper input{padding:0 0 0 40px!important}