
@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
a {
    background: none repeat scroll 0 0 transparent;
}
a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0 none;
	 border-bottom: dashed 1px #999999
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    box-sizing: content-box;
    height: 0;
	color:#d9d9d9;
}
mark {
    background: none repeat scroll 0 0 #ff0;
    color: #000;
}
code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "“" "”" "‘" "’";
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@media print {
* {
    background: none repeat scroll 0 0 transparent !important;
    box-shadow: none !important;
    color: #fff !important;
    text-shadow: none !important;
}
a, a:visited {
    text-decoration: underline;
}
a[href]:after {
    content: " (" attr(href) ")";
}
abbr[title]:after {
    content: " (" attr(title) ")";
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}
pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
@page {
    margin: 2cm 0.5cm;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
}
*, *:before, *:after, hr, hr:before, hr:after, input[type="search"], input[type="search"]:before, input[type="search"]:after {
    box-sizing: border-box;
}
.embedded-content *, .embedded-content *:before, .embedded-content *:after {
    box-sizing: content-box;
}
:focus, a:focus {
    outline: thin dotted #333333;
}
html {
}
body {
    background:/*url(../images/bg-body.gif) repeat #ffffff;*/#f7f7f7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
body.inside_view{
    color: #494949;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
{
	
	
	
}
input, button, select, textarea {
    color: #59554E;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #006699;
    text-decoration: none;
}
a:hover, a:focus {
    color: #666666;
    text-decoration: none;
	border-bottom: 1px dashed #666666;
}
img {
    vertical-align: middle;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dbdbdb -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 10px;
    margin-top: 5px;
}
p {
	margin-bottom: 10px;
	margin-top: 0px;
	font-size:14px;
	line-height:20px;
}
small {
    font-size: 0.85em;
}
.text-lead {
    font-size: 16px;
}
.text-copy {
    font-size: 16px;
}
.text-copy .text-lead {
    font-weight: bold;
}
.text-normal, a.text-normal, a.text-normal:hover, a.text-normal:focus {
    color: inherit;
}
.text-muted {
    color: #959595;
}
a.text-muted {
    color: #6f6f6f;
}
a.text-muted:hover, a.text-muted:focus {
    color: #6f6f6f;
}
.text-special {
    font-family: Shift,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin:0px 0 0 0;
}
.text-contrast {
    color: #fff;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-hide {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    text-shadow: none;
}
abbr[title], abbr[aria-label] {
    border-bottom: 1px dotted #ababab;
    cursor: help;
}
q:before, q:after {
    content: "";
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .panel-header,  .h5, .panel-header-small, .tab-item, .h6 {
    font-weight: bold;
    line-height: 1.2;
    text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .panel-header small, .alert small, .h5 small, .panel-header-small small, .tab-item small, .h6 small {
    color: #959595;
    font-weight: normal;
    line-height: 1;
}
.alert{
	padding: 10px;
	border-radius: 5px;	
	margin:0 0 10px 0;
}
.alert-success{background-color:#d7ede2; color:#097f44;border:solid 1px #097f44}
.alert-info{background-color:#d3e1ea}
.alert-warning{background-color:#f8f1de}
.alert-danger{background-color:#f6e1db;color:#a94442; border:solid 1px #a94442}
.alert-error{background-color:#f6e1db; color:#CC0033; border:solid 1px #CC0033}
.vd_alert-icon{margin:0 0px 0 0}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 5px;
    font: bold 24px "droid sans", Verdana, Geneva, sans-serif;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {

}
h1, .h1 {
    font-size: 30px;
    font-weight: normal;
}
h2, .h2 {
    font-size: 24px;
}
h3, .h3 {
    font-size: 18px;
}
h4, .h4, .panel-header, .alert {
    font-size: 15px;
}
h5, .h5, .panel-header-small, .tab-item {
    font-size: 13px;
}
h6, .h6 {
    color: #959595;
    font-size: 12px;
    text-transform: uppercase;
}
h1 small, .h1 small {
    font-size: 24px;
}
h2 small, .h2 small {
    font-size: 18px;
}
h3 small, .h3 small {
    font-size: 15px;
}
h4 small, .h4 small, .panel-header small, .alert small, h5 small, .h5 small, .panel-header-small small, .tab-item small {
    font-size: 13px;
}
ul, ol {
    margin-bottom: 13px;
    margin-top: 0;
    padding-left: 25px;
}
ul ul:last-child, ul ol:last-child, ol ul:last-child, ol ol:last-child {
    margin-bottom: 0;
}
.list-unstyled, .list-layout, .subnav-list, .sidenav-list {
    list-style: none outside none;
    padding-left: 0;
}
.list-layout, .subnav-list, .sidenav-list {
    margin-bottom: 0;
}
dl {
    margin-bottom: 13px;
    margin-top: 0;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: 9px;
    margin-left: 0;
}
code, pre {
    font-family: Menlo,Monaco,"Courier New",monospace;
}
code {
    color: #d14;
    font-size: 0.85em;
    padding: 2px 4px;
    white-space: nowrap;
}
pre {
    font-size: 0.95em;
    margin-bottom: 13px;
    margin-top: 0;
    overflow-x: auto;
    padding: 13px;
    white-space: pre;
}
pre code {
    background-color: transparent;
    border: 0 none;
    color: inherit;
    font-size: inherit;
    padding: 0;
    white-space: inherit;
}
.clear{clear:both}
/* home view ---------------------- */
#logo{
 	margin: 20px 20px 0 0;
}
#title{
		padding: 90px 0 0 0;
}
.btn-primary {
    background-color: #368ab4;
    background-image: linear-gradient(#368ab4, #006699);
    border: 1px solid #d7d6d6;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18), 0 0 1px 1px rgba(255, 255, 255, 0.09) inset;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	border-radius:5px;
	line-height:24px;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #006699
;
    background-image: linear-gradient(#006699, #368ab4);
}
.btn-primary.active, .btn-primary:active {
    background-color: #b7b7b7;
    background-image: linear-gradient(#368ab4, #006699);
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary {
    background: none repeat scroll 0 0 #006699;
}
.btn-primary:hover, .btn-primary:focus {
    border-color: #368ab4;
}
.btn-primary.active, .btn-primary:active {
    border-color: #368ab4 #368ab4 #006699;
	}
.btn-primary:hover, .btn-primary:focus {
    color: #fff;
}
.btn-primary.active, .btn-primary:active {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.06) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.12) inset;
}
.btn-small {
    font-size: 16px;
    padding: 4px 7px;
	margin:0 0 10px 0;
}
.btn + .btn {
    margin-left: 4px;
}
.btn {
    font-size: 16px;
    padding: 15px 50px;
	margin:0 0 10px 0;
}

.btn.btn-contrast {
    border: 0 none;
    padding: 5px 9px;
}


.btn-large .icon-caret-down {
    margin-left: 8px;
}
.form-inline .input-wrapper {
    float: left;
    margin-right: 0;
    position: relative;
    width: 100%;
}
.inputwrap {
    float: left;
    margin: 0 0px 5px 0;
    position: relative;
}
#hero {
    box-shadow: 0 1px 1px white;
    display: none;
    height: auto;
    position: relative;
    z-index: 1;
	width:100%;
}
#hero h1, #hero h2 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
#slideshow {
    margin: 0;
}
#slideshow li {
    background: none repeat scroll 0 0 #f7f7f7;
    height: 440px;
    overflow: hidden ;
    position: absolute;
    width: 100%;
    z-index: 80;
}
#slideshow li > img {
	width: 1600px;
	display: block;
	height: 440px;
	max-width: 1600px;
}
#slideshow li.next {
    z-index: 90;
}
#slideshow li.active {
    display: block;
    z-index: 100;
}
#slideshow li.active:before, #slideshow li.next:before {
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset;*/
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 101;
}
#slideshow .caption {
    bottom: 0;
    display: none;
    padding: 50px 20px 20px 80px;
    position: absolute;
    right: 0;
    text-align: right;
    width: auto;
    z-index: 102;
}
#slideshow .caption .container {
    left: 50%;
    margin-left: -496px;
    width: 995px;
}
#slideshow .caption .media-photo {
    margin-left: 15px;
    margin-top: 5px;
}
#slideshow .caption p {
    color: #d8d8d8;
    float: right;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 3px;
}
#slideshow .caption strong {
    color: #fff;
    font-weight: bold;
}
#slideshow .caption a {
    color: inherit;
}
#slideshow .caption:hover p {
    text-decoration: underline;
}
.slideshow-scroll {
    color: #fff;
    font-size: 48px;
    margin-top: -25px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    transition: opacity 0.3s ease 0s;
    z-index: 161;
}
.slideshow-scroll:hover {
    opacity: 1;
}
.slideshow-scroll:hover, .slideshow-scroll:focus {
    color: #fff;
    text-decoration: none;
}
.faded-out {
    opacity: 0;
}
.slideshow-scroll-prev {
    left: 20px;
}
.slideshow-scroll-next {
    right: 20px;
}
@keyframes slideleft {
0% {
    margin-left: -790px;
}
100% {
    margin-left: -800px;
}
}
@keyframes slideright {
0% {
    margin-left: -810px;
}
100% {
    margin-left: -800px;
}
}
#slideshow li.next > img {
    animation: 800ms ease-out 0s normal none 1 slideleft;
}
#slideshow li.next.right > img {
    animation: 800ms ease-out 0s normal none 1 slideright;
}
#topmenu{
	height: 40px;
	position:relative;
}
#topmenu ul{
	margin:5px 0 0 0;
	padding:0;
	float:left;
}
#topmenu li{
	float:left;
	list-style:none;
	padding:5px 20px 0 0;
	margin:10px 0;
	line-height:24px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
}
#topmenu li#atr{
    background: #ea413a;
    color: #fff;
    padding: 1px 0 0 0;
    margin: 13px 10px 0 0;
}
#topmenu li#atr a,  #topmenu li#standards a:hover{
	color: #ffffff;

}
#topmenu li#standards{
    background: #005da3;
    color: #fff;
    padding: 1px 0 0 0;
    margin: 13px 10px 0 0;
}
#topmenu li#standards a{
	color: #ffffff;
}
#topmenu li#country_id a{
	text-indent:-9999px;
	background:url("../images/id-flag.png") no-repeat;
	display:block;
	width:24px;
	height:24px;
}
#topmenu li#country_en a{
	text-indent:-9999px;
	background:url("../images/en-flag.png") no-repeat;
	display:block;
	width:24px;
	height:24px;
}
#topmenu div#loginbox{
	display: none; 
	position: absolute;
	background: #006699;
	border: 1px solid rgba(157,191,175, 0.8);
	padding:20px;
	margin:5px 0 0 0;
	width:350px;
	right:0;
}
#topmenu div#loginbox a{
	color:#ffffff;
}
/*.inside_view #topmenu{
	border:none
}*/
.inside_view #topmenu li a{
	color:	#666666;
	text-decoration:none;
	padding:5px;
}
.inside_view #topmenu li a:hover{
	color:	#ffffff;
	background:#005da8;
	padding:5px;
	border:none;
}
.inside_view .logo{
	float:right;
	width:243px;	
	padding: 40px 0 0 0;
}
.logo a:hover {border:none}

#header{
	background: url(../images/header-bg.jpg) bottom repeat-x #dbdbdb;
	height: auto;
	margin: 0 0 10px 0;
}
.ribbon{
	background:url(../images/top-header.png) top left no-repeat transparent;
	width:718px;
	height:159px;
	position:absolute;
	top:0;
	z-index:0;
}
#sidebar, #content{
	margin:0 0 20px 0;	
}
#sidebar ul{
	margin: 0 0 10px 0;
	padding:0;
}
#sidebar li{
	background: url(../images/bullet.png) top left no-repeat;
	display: block;
	list-style: none;
	font-size: 14px;
	border-bottom: dashed 1px #dddddd;
	padding: 0 0 5px 20px;
	margin: 0px 0 10px 0;
}
#sidememu ul ul{
	margin:0;
	padding:0;
}
#sidebar li a{
	color: #666666;
	display:block;
}
#sidebar li a:active{
	color:#333333;
	text-decoration:none;
}
#sidebar li a:hover{
	color: #006699;
	text-decoration:none;
}
#sidebar li h2{
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding: 0 0 5px 0;
}
#header h1{
	font-size:32px;
	color: #015ea4;
	margin:0;
	line-height:32px;
	font: bold 40px "droid sans", Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	padding:80px 0 0 0;
	float: left;
}
.inside_view p a{
	color:#006699;
	text-decoration:underline;
	cursor:pointer;
}
.inside_view p a:hover{
	color:#666666;
	text-decoration:none;
}
/*
.custom.selector, .search-area-icon , input[type="text"].search-area-icon{
	background: url("../images/checkin.png") no-repeat right 1px 0px rgba(243,244,229, 0);
	cursor: pointer;
	display: block;
	height: 20px;
	margin-top: 7px;
	position: absolute;
	margin-left: 90%;
	width: 24px;
}*/
#enter_location_error_message {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 0 0 3px 3px;
    left: 6px;
    padding: 5px 8px;
    position: absolute;
    top: 50px;
    width: 356px;
}
/*
.search-area-icon-checkout {
    background-position: 1px 0px;
}*/
.custom.selector {
    background-position: 1px -218px;
}
/*
.search-area {
    height: auto;
    padding: 20px;
    width: 100%;
    z-index: 100;
	margin:0px auto;
	position:relative;
}
.search-area .checkin, .search-area .checkout {
    cursor: pointer;
    padding: 9px;
	float:left;
}
.search-area h1, .search-area h2 {
    color: #ffffff;
    line-height: 1.1;
}
.search-area h1 {
    font-size: 48px;
    margin-bottom: 0;
}
.search-area h2 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0;
}
.search-area form {
	background: none repeat scroll 0 0 rgba(255,255,255, 0.5);
	border: 1px solid rgba(157,191,175, 0.8);
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(89,85,78, 0.3);
	float: none;
	line-height: 1.2;
	padding: 10px 5px 5px 6px;
	margin: 0;
}
.search-area #content {
	background: none repeat scroll 0 0 rgba(243,244,229, 1);
	border: 1px solid rgba(157,191,175, 0.8);
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(89,85,78, 0.3);
	float: none;
	line-height: 1.2;
	padding: 0 20px;
	margin:0 0 30px 0;
	min-height:200px;
	font-size: 14px;
	line-height:auto;




}
.search-area #content p, #contentleft p{
	font-size: 14px;
	line-height:auto;
	}
	*/
#content h2, #path h2{
	font-family: 'Droid Sans', sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	color: #666666;	
}
/* form */
label, input, textarea, .input-prefix, .input-suffix, select, input[type="radio"], input[type="checkbox"] {
    line-height: normal;
}
[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="tel"], textarea, .input-prefix, .input-suffix, select, input[type="radio"], input[type="checkbox"] {
    border: medium none;
    border-radius: 0.5em;
}
#lastname:-ms-input-placeholder, 
#firstname:-ms-input-placeholder, 
#email:-ms-input-placeholder, 
#phone:-ms-input-placeholder,
#checkin:-ms-input-placeholder,
#checkout:-ms-input-placeholder,
#message:-ms-input-placeholder,
#username:-ms-input-placeholder, 
{
    color: #666666;
}
input:-moz-placeholder, textarea:-moz-placeholder
{
    color: #666666;
	opacity:1;
}

input::-moz-placeholder, textarea::-moz-placeholder{
   
    color: #666666;opacity:1;
}
#lastname::-webkit-input-placeholder, 
#firstname::-webkit-input-placeholder, 
#email::-webkit-input-placeholder, 
#phone::-webkit-input-placeholder,
#checkin::-webkit-input-placeholder,
#checkout::-webkit-input-placeholder,
#message::-webkit-input-placeholder,
#username::-webkit-input-placeholder{
    color: #666666;
}
[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="tel"], textarea, input[type="radio"], input[type="checkbox"] {
    background: repeat scroll 0 0 rgba(255,255,255, 1);
	font-size:15px;
    color: #666666;
	-webkit-border-radius: 0.3em;
	border: solid 1px #e0e0e0;
}
[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="tel"], textarea, input[type="radio"], input[type="checkbox"] {
    transition: border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
}
.invalid[type="text"], .invalid[type="password"], .invalid[type="search"], .invalid[type="email"], .invalid[type="url"], .invalid[type="tel"], textarea.invalid, input.invalid[type="radio"], input.invalid[type="checkbox"], [type="text"]:invalid, [type="password"]:invalid, [type="search"]:invalid, [type="email"]:invalid, [type="url"]:invalid, [type="tel"]:invalid, textarea:invalid, input[type="radio"]:invalid, input[type="checkbox"]:invalid {
    border-color: #f72c37;
}
[type="text"]:focus, [type="password"]:focus, [type="search"]:focus, [type="email"]:focus, [type="url"]:focus, [type="tel"]:focus, textarea:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    border-color: #00b0ff;
    /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08) inset, 0 0 2px 2px #7a848e;*/
    outline: medium none;
}
[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="tel"], textarea, .input-prefix, .input-suffix, select {
    display: block;
    padding: 6px 9px;
    width: 100%;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
background-color: rgb(255,255,255);
background-image: none;
color: rgb(0, 0, 0);
}
#content [type="text"] {
	border: solid 1px #e5e5e5;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
label {
    //display: block;
    padding-bottom: 7px;
    padding-top: 7px;
}
.label-large {
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.label-inline {
    display: inline-block;
    margin-right: 9px;
}
textarea {
    font-size: 16px;
    line-height: inherit;
    padding-bottom: 9px;
    padding-top: 9px;
    resize: none;
}
.input-addon {
    display: table;
    width: 100%;
}
.input-stem {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: table-cell;
    text-align: right;
}
.input-prefix + .input-stem {
    border-radius: 0 3px 3px 0;
    text-align: left;
}
.input-prefix, .input-suffix {
    background-color: #cccccc;
    display: table-cell;
    width: auto;
}
.input-prefix {
    border-bottom-right-radius: 0;
    border-right: 0 none;
    border-top-right-radius: 0;
}
.input-suffix {
    border-bottom-left-radius: 0;
    border-left: 0 none;
    border-top-left-radius: 0;
}
/* start FF CSS */
@-moz-document url-prefix()
{
	/*
	.search-area-icon{
		background: url("../images/checkin.png") no-repeat right;
		display:block;
		margin-left:145%;
	}
	.search-area .checkin, .search-area .checkout{
		width:165%;
	}*/
	 [type="text"], textarea{
		border-radius: 0.5em;opacity:1;color: #59554E;
	 }
     .select select{
          width: 108%; 
          background-position: right 30px center; 
          border: none;
		border-radius: 0.5em;
     }
	      .select select#gender{
          width: 127%; 
          background-position: right 25px center; 
          border: none;
		border-radius: 0.5em;
     }
}
/* end FF CSS */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

	/**/-webkit-box-shadow:1px 0px 5px 0px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.5) inset;
	border:solid 1px rgba(255, 255, 255, 0.3);
	-webkit-border-radius: 0.5em;
    /*background: linear-gradient(#FCFEF5, #E9FFE1) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	
    background: url("../images/arrow-down.png") no-repeat scroll right 7px top 7px rgba(255,255,255, 1);
    color: #666666;
    font-size: inherit;
    text-align: left;
    text-indent: 0.01px;
    text-overflow: " ";
    text-shadow: none;
    vertical-align: inherit;
}
.select {
    border: medium none;
    border-radius: 0.5em;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
	width:100%;
}
select:focus {
    outline: medium none;
}
.select select {
    border: medium none;
    height: 34px;
    padding: 5px 0 5px 5px;
}
@-moz-document url-prefix("") 
.select select {
    width: 118%;
}
.select select {
    padding-right: 2em;
    padding-top: 5px;
}
.select:before {
    bottom: 1px;
    color: silver;
    font-family: sans-serif;
    line-height: 1;
    padding-top: 0.5em;
    pointer-events: none;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 2em;
}
.select-block {
    display: block;
    width: 100%;
}
.select-large {
    font-size: 15px;
}
.select-large select {
    padding: 5px 2em 9px 8px;
}
.select-large:before select {
    border-left: 1px solid #68717a;
    box-shadow: 1px 0 0 #272a31 inset;
    padding-top: 0.75em;
    width: 2.75em;
	background:url("../images/arrow-down.png") no-repeat scroll center top 7px rgba(0, 0, 0, 0)
}
input[type="text"], input[type="password"] {
    height: 34px;
	width:100%;
}
input[type="radio"], input[type="checkbox"] {
    margin-bottom: -0.1em;
    margin-right: 4px;
    margin-top: -0.07em;
    vertical-align: top;
}
input[type="radio"] {
	border-radius: 1em;
	height: 1em;
	margin-top: 0.1em;
	position: relative;
	width: 0.9em;
	cursor:pointer;
}
input[type="radio"]:checked:before {
    background-color: #006699;
    border-radius: 0.45em;
    content: "";
    height: 0.45em;
    left: 50%;
    margin-left: -0.225em;
    margin-top: -0.225em;
    position: absolute;
    top: 50%;
    width: 0.45em;
}
input[type="checkbox"] {
    height: 1.35em;
    width: 1.35em;
}
input[type="checkbox"]:checked {
    background:  no-repeat scroll center center / 0.8em auto rgba(0, 0, 0, 0);
}
.input-large {
    font-size: 13px;
    padding-bottom: 0px;
    padding-top: 0;
	width: 100%;
}


/* The Grid ---------------------- */
.row {  max-width: 1000px; min-width: 768px; margin: 0 auto; width:100% }
.row .row { width:auto; max-width: none; min-width: 0; margin: 0 auto}
.row.collapse .column, .row.collapse .columns { padding: 0; }
.row .row.collapse { margin: 0; }

.column, .columns { float: left; min-height: 0px; padding: 0 8px; position: relative; }
.column.centered, .columns.centered { float: none; margin: 0 auto; }

[class*="column"] + [class*="column"]:last-child { float: left; }

[class*="column"] + [class*="column"].end { float: left; }

.row .one { width: 8.333%; }

.row .two { width: 16.667%; }

.row .three { width: 25%; }

.row .four { width: 33.333%; }

.row .five { width: 41.667%; }

.row .six { width: 50%; }

.row .seven { width: 58.333%; }

.row .eight { width: 66.667%; }

.row .nine { width: 75%; }

.row .ten { width: 83.333%; }

.row .eleven { width: 91.667%; }

.row .twelve { width: 100%; }

.row .offset-by-one { margin-left: 8.333%; }

.row .offset-by-two { margin-left: 16.667%; }

.row .offset-by-three { margin-left: 25%; }

.row .offset-by-four { margin-left: 33.333%; }

.row .offset-by-five { margin-left: 41.667%; }

.row .offset-by-six { margin-left: 50%; }

.row .offset-by-seven { margin-left: 58.333%; }

.row .offset-by-eight { margin-left: 66.667%; }

.row .offset-by-nine { margin-left: 75%; }

.row .offset-by-ten { margin-left: 83.333%; }

.push-two { left: 16.667%; }

.pull-two { right: 16.667%; }

.push-three { left: 25%; }

.pull-three { right: 25%; }

.push-four { left: 33.333%; }

.pull-four { right: 33.333%; }

.push-five { left: 41.667%; }

.pull-five { right: 41.667%; }

.push-six { left: 50%; }

.pull-six { right: 50%; }

.push-seven { left: 58.333%; }

.pull-seven { right: 58.333%; }

.push-eight { left: 66.667%; }

.pull-eight { right: 66.667%; }

.push-nine { left: 75%; }

.pull-nine { right: 75%; }

.push-ten { left: 83.333%; }

.pull-ten { right: 83.333%; }

img, object, embed { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

.topnav{background: #006699; color:#fff; margin:0 0 20px 0}
.topnav ul{margin:0; padding:0}
.topnav li{
	list-style:none;
	float:left;
	border-right:solid 1px #ffffff;
	line-height:40px;
}

.topnav li:last-child{
	border:none;	
}
.topnav li a{
	text-decoration:none;
	color:#ffffff;
	padding:0 20px;
}
.topnav li a:hover{
	text-decoration:none;
	color:#393c3d;
	background:#b7d7eb;
	display:block;
}

.content p img{max-width:100%;}
.content .gallery img.gallery-thumb{max-width:auto;}
/*--path--*/
#path{
	margin:0 0 10px 0;
	border-bottom: solid 1px #d9d9d9;
	font-size:12px;
	line-height:24px;
	color:#666666;
}
#path a{
	color:#005da8;
	text-decoration:none;
}
#path a:hover{
	color:#666666;
	text-decoration:none;
}
#path li{
	background: url(../images/bullet.png) top left no-repeat;
	display: block;
	list-style: none;
	font-size: 14px;
	line-height: 20px;
	padding:0 0 0 20px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
}
#path ul ul{
	margin:0;
	padding:5px 0;
}
#path ul{
	margin:0 0 10px 0;	
	padding:0;
}
.nav-submenu ol.tree {
    padding: 0;
}
.nav-submenu li {
    list-style: none outside none;
    margin-left: -15px;
    position: relative;
}
.nav-submenu li.file {
    margin-left: 0px !important;
}
.nav-submenu li.file a {
    background: 0 0 rgba(0, 0, 0, 0);
    color: #666666;
    display: block;
    padding-left: 10px;
    text-decoration: none;
	cursor:pointer;
}
.nav-submenu li.file a:hover, .nav-submenu li label:hover, .nav-submenu li.current a, .nav-submenu label.current a {
    color: #0066cc;
}
.nav-submenu li.file a[href*=".pdf"] {
    background: scroll 0 0 rgba(0, 0, 0, 0);
}
.nav-submenu li.file a[href*=".html"] {
    background: scroll 0 0 rgba(0, 0, 0, 0);
}
.nav-submenu li.file a[href$=".css"] {
    background: scroll 0 0 rgba(0, 0, 0, 0);
}
.nav-submenu li.file a[href$=".js"] {
    background: scroll 0 0 rgba(0, 0, 0, 0);
}
.nav-submenu li input {
    cursor: pointer;
    height: auto;
    left: 0;
    margin-left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 2em;
    z-index: 2;
}
.nav-submenu li input + ol {
    background: url("../images/toggle-small-expand.png") no-repeat top 0px 0 rgba(0, 0, 0, 0);
    height: auto;
    margin: -1.7em 0 0 0;
    /*padding: 1.0em 0 0 0;
	margin: -2.7em 0 0 -40px;*/
	padding: 1.4em 0 0 80px;
}
.nav-submenu li input + ol > li {
    display: none;
    margin-left: 0px !important;
    padding-left: 1px;
}
.nav-submenu li label {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    padding-left: 12px;
    min-height: 20px;
}
.nav-submenu li input:checked + ol {
    background: url("../images/toggle-small.png") no-repeat scroll 40px 0 rgba(0, 0, 0, 0);
    height: auto;
    /*margin: -1.7em 0 0 -40px;
    padding: 1.0em 0 0 80px;*/
	
    margin: -1.7em 0 0 -40px;
	
    padding: 1.4em 0 0 80px;
}
.nav-submenu li input:checked + ol > li {
    display: block;
    margin: 0 0 0.1em;
}
.nav-submenu li input:checked + ol > li:last-child {
    margin: 0 0 0.063em;
}


#map_canvas img, .map_canvas img { max-width: none!important; }

/* Nicolas Gallagher's micro clearfix */
.row { *zoom: 1; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }

/* Mobile Grid and Overrides ---------------------- */
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
  .row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
  .column, .columns { width: auto !important; float: none; }
  .column:last-child, .columns:last-child { float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  .column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
  .column:after, .columns:after { clear: both; }
  .no-left-margin, .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten { margin-left: 0 !important; }
  .left-auto, .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
  .right-auto, .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }
  /* Mobile 4-column Grid */
  .row .mobile-one { width: 25% !important; float: left; padding: 0 15px; }
  .row .mobile-one:last-child { float: right; }
  .row.collapse .mobile-one { padding: 0; }
  .row .mobile-two { width: 50% !important; float: left; padding: 0 15px; }
  .row .mobile-two:last-child { float: right; }
  .row.collapse .mobile-two { padding: 0; }
  .row .mobile-three { width: 75% !important; float: left; padding: 0 15px; }
  .row .mobile-three:last-child { float: right; }
  .row.collapse .mobile-three { padding: 0; }
  .row .mobile-four { width: 100% !important; float: left; padding: 0 15px; }
  .row .mobile-four:last-child { float: right; }
  .row.collapse .mobile-four { padding: 0; }
  .push-one-mobile { left: 25%; }
  .pull-one-mobile { right: 25%; }
  .push-two-mobile { left: 50%; }
  .pull-two-mobile { right: 50%; }
  .push-three-mobile { left: 75%; }
  .pull-three-mobile { right: 75%; } }
/* Block Grids ---------------------- */
/* These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */
.block-grid { display: block; overflow: hidden; padding: 0; }
.block-grid > li { display: block; height: auto; float: left; }

.block-grid.two-up { margin: 0 -15px; }

.block-grid.two-up > li { width: 50%; padding: 0 15px 15px; }

/*  .block-grid.two-up>li:nth-child(2n+1) {clear: left;} */
.block-grid.three-up { margin: 0 -12px; }

.block-grid.three-up > li { width: 33.33%; padding: 0 12px 12px; }

/*  .block-grid.three-up>li:nth-child(3n+1) {clear: left;} */
.block-grid.four-up { margin: 0 -10px; }


.block-grid.four-up > li { width: 25%; padding: 0 10px 10px; }

/*  .block-grid.four-up>li:nth-child(4n+1) {clear: left;} */
.block-grid.five-up { margin: 0 -8px; }

.block-grid.five-up > li { width: 20%; padding: 0 8px 8px; }

/*  .block-grid.five-up>li:nth-child(5n+1) {clear: left;} */
/* Mobile Block Grids */
@media only screen and (max-width: 767px) { .block-grid.mobile { margin-left: 0; }
  .block-grid.mobile > li { float: none; width: 100%; margin-left: 0; } }


/* Requires: globals.css */
/* Table of Contents

:: Visibility
:: Alerts
:: Labels
:: Tooltips
:: Panels
:: Side Nav
:: Sub Nav
:: Pagination
:: Breadcrumbs
:: Lists
:: Link Lists
:: Keystroke Chars
:: Video
:: Tables
:: Microformats

*/
/* Visibility Classes ---------------------- */
/* Standard visibility targeting */
.show-for-small, .show-for-medium, .hide-for-large, .show-for-xlarge { display: none !important; }

.hide-for-xlarge, .show-for-large, .hide-for-small, .hide-for-medium { display: block !important; }

/* Very large display targeting */
@media only screen and (min-width: 1200px) { .hide-for-small, .hide-for-medium, .hide-for-large, .show-for-xlarge { display: block !important; }
  .show-for-small, .show-for-medium, .show-for-large, .hide-for-xlarge { display: none !important; } }
/* Medium display targeting */
@media only screen and (max-width: 1000px) and (min-width: 768px) { .hide-for-small, .show-for-medium, .hide-for-large, .hide-for-xlarge { display: block !important; }
  .show-for-small, .hide-for-medium, .show-for-large, .show-for-xlarge { display: none !important; } }
/* Small display targeting */
@media only screen and (max-width: 767px) { .show-for-small, .hide-for-medium, .hide-for-large, .hide-for-xlarge { display: block !important; }
  .hide-for-small, .show-for-medium, .show-for-large, .show-for-xlarge { display: none !important; } }
/* Orientation targeting */
.show-for-landscape, .hide-for-portrait { display: block !important; }

.hide-for-landscape, .show-for-portrait { display: none !important; }

@media screen and (orientation: landscape) { .show-for-landscape, .hide-for-portrait { display: block !important; }
  .hide-for-landscape, .show-for-portrait { display: none !important; } }
@media screen and (orientation: portrait) { .show-for-portrait, .hide-for-landscape { display: block !important; }
  .hide-for-portrait, .show-for-landscape { display: none !important; } }
/* Touch-enabled device targeting */
.show-for-touch { display: none !important; }

.hide-for-touch { display: block !important; }

.touch .show-for-touch { display: block !important; }

.touch .hide-for-touch { display: none !important; }

/* Specific overrides for elements that require something other than display: block */
table.show-for-xlarge, table.show-for-large, table.hide-for-small, table.hide-for-medium { display: table !important; }

@media only screen and (max-width: 1000px) and (min-width: 768px) { .touch table.hide-for-xlarge, .touch table.hide-for-large, .touch table.hide-for-small, .touch table.show-for-medium { display: table !important; } }
@media only screen and (max-width: 767px) { table.hide-for-xlarge, table.hide-for-large, table.hide-for-medium, table.show-for-small { display: table !important; } }

/* Tooltips ---------------------- */
.has-tip { border-bottom: dotted 1px #ccc; cursor: help; font-weight: bold; color: #333; }
.has-tip:hover { border-bottom: dotted 1px #0593dc; color: #0192dd; }
.has-tip.tip-left, .has-tip.tip-right { float: none !important; }

.tooltip { display: none; background: black; background: rgba(0, 0, 0, 0.8); position: absolute; color: #fff; font-weight: bold; font-size: 12px; font-size: 1.2rem; padding: 5px; z-index: 999; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; line-height: normal; }
.tooltip > .nub { display: block; width: 0; height: 0; border: solid 5px; border-color: transparent transparent black transparent; border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent; position: absolute; top: -10px; left: 10px; }
.tooltip.tip-override > .nub { border-color: transparent transparent black transparent !important; border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent !important; top: -10px !important; }
.tooltip.tip-top > .nub { border-color: black transparent transparent transparent; border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent; top: auto; bottom: -10px; }
.tooltip.tip-left, .tooltip.tip-right { float: none !important; }
.tooltip.tip-left > .nub { border-color: transparent transparent transparent black; border-color: transparent transparent transparent rgba(0, 0, 0, 0.8); right: -10px; left: auto; }
.tooltip.tip-right > .nub { border-color: transparent black transparent transparent; border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent; right: auto; left: -10px; }
.tooltip.noradius { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.tooltip.opened { color: #0192DD !important; border-bottom: dotted 1px #0593DC !important; }

.tap-to-close { display: block; font-size: 10px; font-size: 1rem; color: #888; font-weight: normal; }

@media only screen and (max-width: 767px) { .tooltip { font-size: 14px; font-size: 1.4rem; line-height: 1.4; padding: 7px 10px 9px 10px; }
  .tooltip > .nub, .tooltip.top > .nub, .tooltip.left > .nub, .tooltip.right > .nub { border-color: transparent transparent black transparent; border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent; top: -12px; left: 10px; } }
/* Panels ---------------------- */
div.panel { background: #f2f2f2; border: solid 1px #e6e6e6; margin: 0 0 22px 0; padding: 20px; }
div.panel *:first-child { margin-top: 0; }
div.panel *:last-child { margin-bottom: 0; }
div.panel.callout { background: #2ba6cb; color: #fff; border-color: #2284a1; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); }
div.panel.callout a { color: #fff; }
div.panel.callout .button { background: white; border: none; color: #2ba6cb; text-shadow: none; }
div.panel.callout .button:hover { background: rgba(255, 255, 255, 0.8); }
div.panel.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

/* Standard Forms ---------------------- */
form { margin: 0 }

.row form .row { margin: 0 -6px; }
.row form .row .column, .row form .row .columns { padding: 0 6px; }
.row form .row.collapse { margin: 0; }
.row form .row.collapse .column, .row form .row.collapse .columns { padding: 0; }

label { font-size: 14px; color: #4d4d4d; cursor: pointer; 
        //display: block; 
        font-weight: 500; margin-bottom: 3px; }
label.right { float: none; text-align: right; }
label.inline { line-height: 32px; margin: 0 0 12px 0; }

@media only screen and (max-width: 767px) { label.right { text-align: left; } }
.prefix, .postfix { display: block; position: relative; z-index: 2; text-align: center; width: 100%; padding-top: 0; padding-bottom: 0; height: 32px; line-height: 31px; }

a.button.prefix, a.button.postfix { padding-left: 0; padding-right: 0; text-align: center; }

span.prefix, span.postfix { background: #f2f2f2; border: 1px solid #cccccc; }

.prefix { left: 2px; -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }

.postfix { right: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
/* Errors */
.error input, input.error { border-color: #c60f13; background-color: rgba(198, 15, 19, 0.1); }

.error label, label.error { color: #c60f13; }

.error small, small.error { display: block; padding: 6px 4px; margin-top: -13px; margin-bottom: 12px; background: #c60f13; color: #fff; font-size: 12px; font-size: 1.2rem; font-weight: bold; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }

@media only screen and (max-width: 767px) { input[type="text"].one, textarea.one { width: 100% !important; }
  input[type="text"].two, textarea.two { width: 100% !important; }
  input[type="text"].three, textarea.three { width: 100% !important; }
  input[type="text"].four, textarea.four { width: 100% !important; }
  input[type="text"].five, textarea.five { width: 100% !important; }
  input[type="text"].six, textarea.six { width: 100% !important; }
  input[type="text"].seven, textarea.seven { width: 100% !important; }
  input[type="text"].eight, textarea.eight { width: 100% !important; }
  input[type="text"].nine, textarea.nine { width: 100% !important; }
  input[type="text"].ten, textarea.ten { width: 100% !important; }
  input[type="text"].eleven, textarea.eleven { width: 100% !important; }
  input[type="text"].twelve, textarea.twelve { width: 100% !important; } }
/* Correct FF custom dropdown height */
@-moz-document url-prefix() { form.custom div.custom.dropdown a.selector { height: 30px; } }

.lt-ie9 form.custom div.custom.dropdown a.selector { height: 30px; }

/* Correct timer in IE */
.lt-ie9 .timer { display: none !important; }

.lt-ie9 div.caption { background: transparent; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); zoom: 1; }
/* date*/
.ui-datepicker {
    background-color: #fefefe;
    border: 1px solid #ababab;
    border-radius: 2px;
    box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.05);
    display: none;
    z-index: 2147483647;
    width: 200px;
	color:#006699;	
}
.ui-datepicker  a {
	color:#006699;	
}
.ui-datepicker  a:hover {
	color:#666666;	
}
.ui-datepicker td a:hover {
	background:#006699;	
	text-decoration:none;
	display:block;
	color:#ffffff;
}
.ui-datepicker-calendar {
    background: none repeat scroll 0 0 transparent;
    width: 100%;
}
.ui-datepicker-calendar td {
    border: 1px solid #dbdbdb;
    padding: 0;
    position: relative;
    text-align: center;
}
.ui-datepicker-calendar td:first-child, .ui-datepicker-calendar td:last-child {
    border-left: 0 none;
}
.ui-datepicker-calendar th {
    color: #959595;
    font-size: 0.8em;
    text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
    cursor: pointer;
}
.ui-datepicker-prev:before, .ui-datepicker-next:before {
    color: #959595;
    font-family: Airglyphs,sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.ui-datepicker-prev:hover, .ui-datepicker-prev:hover:before, .ui-datepicker-next:hover, .ui-datepicker-next:hover:before {
    text-decoration: none;
}
.ui-datepicker-prev {
    float: left;
}
.ui-datepicker-prev:before {
    content: "< ";
}
.ui-datepicker-next {
    float: right;
}
.ui-datepicker-next:before {
    content: "> ";
}
.ui-datepicker-title {
    text-align: center;
}
.ui-datepicker-header {
    font-weight: bold;
    padding: 15px;
}
.ui-datepicker-buttonpane {
    padding: 5px;
}
.ui-datepicker-close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #00b0ff;
    text-align: center;
}
.ui-datepicker-current {
    display: none;
}
/*city tile*/
.city-tiles {
	float: none;
	height: 200px;
	margin: 0 0 10px 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	text-align: center;
	padding: 0;
}
.city-tiles .city-tile {
    position: absolute;
    top: 0;
    width: 100%;
}
.city-tiles a  {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    display: block;
    font-weight: bold;
    height: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.city-tiles a:nth-child(n){
    filter: none;
}
.city-tiles a h4 {
    color: #fff;
    font-size: 29px;
    line-height: 1.2;
    margin: 0;
    padding-top: 70px;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
.city-tiles a span {
    display: none;
    font-size: 17px;
}
.city-tiles a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
.city-tiles a:hover:nth-child(n)  {
    filter: none;
}
.city-tiles a:hover span {
    display: block;
}
.city-tiles .label{
    left: 0;
    position: absolute;
    top: 0;
    background: #2596df;
}
.city-tile {
	display:block;

}
.label {
    color: #d0d0d0;
    font-size: 0.85em;
    font-weight: bold;
    padding: 2px 8px;
    white-space: nowrap;
}
.label-new {

    color: #ffffff;
}
/*inquiry page*/
#inquiry{
	margin: 25px 0 0 0;
}

.message{}
.message .photo{
	text-align:center;
	width:100px;
	float:left;
	line-height:24px;
	margin:0 20px 0 0;
}
.message .photo img{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 100px;
    height: 100px;
	}
.text-message{
	margin:0 0 20px 0;
}
.reply{}
.reply .photo img{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 50px;
    height: 50px;
	
	}
.reply .photo{
	text-align:center;
	width:50px;
	float:left;
	margin:0 20px 0 0;
}
/*footer*/
#footer {
	clear: both;
	color: #ffffff;
	margin:20px 0 0 0;
	padding: 35px 0 20px 0;
	text-align: center;
	background: url(../images/footer-bg.jpg) top repeat-x #dbdbdb;
}
#footer h5 {
    color: #ffffff;
    margin:0;
    padding:0;
	float:left;
}
#footer h5 {
    font-size: 12px;
    line-height: 1.5;
}
#footer ul {
    margin: 0;
	text-align:center;
}
#footer li{
	list-style:none;
	margin:0 10px;
	float:left;
	
}
#copyright {
    color: #666666;
    padding-top: 4px;
	float:right;
	font-size:12px;
}
.inside_view #footer, .inside_view #footer h5, .inside_view #copyright, .inside_view #footer li a{
	color:#333333;	
}
.inside_view #footer{
}
/*lightbox*/
#lightbox {
	position:fixed; /* keeps the lightbox window in the current viewport */
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	background:rgba(255,255,255, 0.8);
	text-align:center;
	z-index:200;
}
#lightbox p {
	text-align:right; 
	color:#fff; 
	margin-right:20px; 
	font-size:12px; 
}
#lightbox img {
	box-shadow:0 0 25px #111;
	-webkit-box-shadow:0 0 25px #111;
	-moz-box-shadow:0 0 25px #111;
	max-width:940px;
}
#lightbox #content{
	margin:20px;	
}
.gallery{margin:25px 0 0 0}
.gallery-tiles {
	float: none;
	height: auto;
	margin: 0 0 10px 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	text-align: justify;
	padding: 0;
	
}
/*topic*/
.topic, .countries{
padding:0 10px 0 0;
}
.topic li {
	background: url(../images/bullet.png) top left no-repeat;
	display: block;
	list-style: none;
	padding: 0 0px 5px 20px;
	margin: 10px 20px 16px 0;
	border-bottom: dashed 1px #eaeaea;
	line-height: 19px;
}
.topic li a{
	text-decoration:none;
	color:#666666;
	display:block;
	
}
.topic li a:hover{
	text-decoration:none;
	color:#0066cc;
	border:none;
	
}
.topic h2, .countries h2, #content .topic h2, #content .countries h2 {
	font: 18px/18px "Droid Sans", Verdana, Geneva, sans-serif;
	/*background: url(../images/sidebar-bg.png) left bottom repeat-x;*/
	padding: 0 10px 0 0;
	margin: 0 0 4px 0px;
	text-transform: uppercase;
	height:auto;
}
.subtopic{
	background:#d7d7d7;
	padding:15px;
}
.subtopic h2, #content .subtopic h2 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	color: #666666;	
	text-transform:uppercase;
}
.topic select, .countries select{
	margin:0 0 10px 0;	
}
#description{
	background:#bdd7e5;
	padding:10px;
	border-radius: 5px;
	color:#000000;
	margin:10px 0 0 0;
	
}
/*countries*/
.topic ul, .countries ul{
	padding:0 0 0 0px;	
}
.countries li{
	float:left;
	list-style:none;
	margin:0 15px 0 0;
}
.countries li a{
	text-indent: 0;
	width: 150px;
	display: block;
	height: 90px;

	padding: 0;
	font-size: 10px;
	text-align: center;
	line-height: 25px;
}
.countries li a img, #country_flag img{
	box-shadow: 0 10px 30px -10px #000;	
	-webkit-box-shadow: 0 10px 30px -10px #000;	
	-moz-box-shadow: 0 10px 30px -10px #000;	
}

.countries li a.country_bn, span.country_bn{
	background:url(../images/brunei.jpg) top left no-repeat;
}
.countries li a.country_kh, span.country_kh{
	background:url(../images/cambodia.jpg) top left no-repeat;
}
.countries li a.country_tl, span.country_tl{
	background:url(../images/east-timor.jpg) top left no-repeat;
}
.countries li a.country_id, span.country_id{
	background:url(../images/indonesia.jpg) top left no-repeat;
}
.countries li a.country_la, span.country_la{
	background:url(../images/laos.jpg) top left no-repeat;
}
.countries li a.country_my, span.country_my{
	background:url(../images/malaysia.jpg) top left no-repeat;
}
.countries li a.country_ph, span.country_ph{
	background:url(../images/philipine.jpg) top left no-repeat;
}
.countries li a.country_th, span.country_th{
	background:url(../images/thailand.jpg) top left no-repeat;
}
.countries li a.country_vn, span.country_vn{
	background:url(../images/vietnam.jpg) top left no-repeat;
}
.countries li a.country_sg, span.country_sg{
	background:url(../images/singapore.jpg) top left no-repeat;
}

.countries li a.country_mm, span.country_mm{
	background:url(../images/myanmar.jpg) top left no-repeat;
}
.countries span{
	height: 40px;
	text-indent: 0;
	display: block;
	padding: 40px 0 0 0px;
	margin: -20px 0 0 20px;
	font-size: 10px;
	line-height:10px;
	text-align:center;
}
.countries_select{
	float: left;
	width: 85px;
	height: 60px;
	margin: 0 10px 0 0;
}
.countries li a:hover{border:none;}